.depoimento {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: var(--cor-vermelha-claro);
    border-radius: 20px;
    padding: 4em 4em;
    margin: 5em 10em 5em 10em;
}

.depoimento__titulo {
    font-size: 14px;
    font-weight: 600;
    color: var(--cor-vermelha);
    margin: 0 0 1.5em 0;
}

.depoimento__texto {
    text-align: center;
    font-size: 36px;
    font-weight: 500;
    color: var(--cor-preta);
    margin: 0 0 1em 0;
}

.depoimento__imagem {
    margin: 0 0 1em 0;
}

.depoimento__nome {
    font-weight: 500;
    color: var(--cor-preta);
    margin: 0 0 0.35em 0;
}

.depoimento__formacao {
    font-size: 14px;
    color: var(--cor-cinza);
}