/* .cabecalho {
    display: flex; */
    /* padding: 2em 10em;
    gap: 10vw;
} */

.cabecalho__navegacao{
    display: flex;
    align-items: center;
    padding: 2em 10em;
}

.cabecalho__navegacao-links {
    display: flex;
    margin-left: 8em;
    gap: 32px;
}

.cabecalho__navegacao__link {
    color: var(--cor-cinza);
    text-decoration: none;
    font-weight: 500;
}

.cabecalho__navegacao__link:hover {
    color: var(--cor-vermelha);
}

.cabecalho__usuario {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 25px;
}

.cabecalho__usuario__link {
    color: var(--cor-cinza);
    text-decoration: none;
    font-weight: 500;
}

.cabecalho__usuario__link:hover {
    color: var(--cor-vermelha);
}

.cabecalho__usuario__link__cadastrar {
    background-color: var(--cor-vermelha);
    color: var(--cor-branca);
    padding: 0.8em;
    border-radius: 6px;
    text-decoration: none;
}

.cabecalho__usuario__link__cadastrar:active {
    background: var(--cor-vermelha-claro);
    color: var(--cor-vermelha);
}

.sobre {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 8em 30em;
    gap: 36px;
}

.sobre__titulo {
    color: var(--cor-vermelha);
    font-weight: 600;
}

.sobre__subtitulo {
    color: var(--cor-preta);
    font-weight: 600;
    font-size: 48px;

}

.sobre__paragrafo {
    color: var(--cor-cinza);
    font-size: 20px;
    text-align: center;
    margin-top: 1.5em;
}
