.vagas {
    display: flex;
    flex-direction: column;
}

.vagas__caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10em;
    margin-bottom: 5em;
    gap: 1.5em;
}

.vagas__titulo {
    color: var(--cor-vermelha);
    background-color: var(--cor-vermelha-claro);
    font-size: 14px;
    font-weight: 500;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.vagas__subtitulo {
    color: var(--cor-preta);
    font-size: 36px;
    font-weight: 600;
}

.vagas__texto {
    color: var(--cor-cinza);
    font-size: 20px;
}

.vagas__imagem {
    padding: 0 10em;
    /* margin-bottom: 3em; */
}

.vaga-box {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.topico-vaga {
    display: flex;
    margin: 3em 0 1em 28.5em;
    margin-left: 28.5em;
    margin-bottom: 1em;
    font-size: 20px;
    font-weight: 500;
    color: var(--cor-preta);
}

.vaga {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 2em 25vw 2em 1.5em;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: 20px;
    gap: 2em;
}

.titulo-vaga {
    font-size: 18px;
    font-weight: 500;
    color: var(--cor-preta);
}

.informacoes {
    display: flex;
    gap: 1.5em;
}

.vaga__texto {
    font-weight: 500;
    color: var(--cor-cinza);
}

